<!DOCTYPE html>
<html>
<head>
  <% include partials/head %>
  <title><%= data.name %></title>
  <script>
    var rawData = <%-  JSON.stringify(data) %>;
  </script>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.17/d3.min.js"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/c3/0.4.18/c3.min.css" />
  <script src="https://cdnjs.cloudflare.com/ajax/libs/c3/0.4.18/c3.min.js"></script>

  <!-- Dashboard -->
  <style>
      <%- include('keen-dashboards.css'); %>
  </style>
</head>
<body class="keen-dashboard" style="padding-top: 80px;">

  <% include partials/header %>

  <div class="container-fluid">

      <div class="row">
        <div class="col-md-4 col-md-offset-4">
          <table class="table table-bordered table-striped text-center">
            <thead>
                <th colspan="2" class="text-center">Platform</th>
              </thead>
            <tbody>
              <% platform.forEach(([label, value] ) => { -%>
              <tr>
                <th><%=label%></th><td><%=value%></td>
              </tr>
              <% }) %>
            </tbody>
          </table>
      </div>
    </div>

    <div class="row">
        <% data.suites.forEach(({name, fastest },index, {length}) => { -%>
          <%- include('small-chart.ejs', {title: name, index, fastest, length}); %>
        <% }) %>
    </div>

    <div class="row">
      <div class="col-sm-12">
        <div class="chart-wrapper">
          <div class="chart-title">
            All suites at scale
          </div>
          <div class="chart-stage">
            <div id="chart"></div>
          </div>
          <div class="chart-notes">
            Here you can see the results of all suites at once
          </div>
        </div>
      </div>

    </div>

  </div>
  <div class="container-fluid">
    <p class="small text-muted">Built with &#9829; by <a href="https://keen.github.io/dashboards/">Keen IO</a></p>
  </div>

  <script>
    <%- include('buildCharts.js') %>
  </script>
      

</body>
</html>